{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    <h1>Liste des marques</h1>

    <ul>
        {% for brand in brands %}
            <li class="card text-bg-dark text-center" style="width: 30%; margin-bottom: 20px;">
                    <a href="{{ path('app_brand_show', {'id': brand.id}) }}" class="card-body text-decoration-none text-white">{{ brand.brandName }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}