{% extends 'base.html.twig' %}

{% block title %}
Detail - {{ parent() }}
{% endblock %}

{% block body %}

<h1>Détail des marques</h1>
<div class="card text-bg-dark text-center">
    <div class="card-body">
        <h5 class="card-title">{{ brands.brandName }}</h5>
        <p class="card-text">{{ brands.description }}</p>
    </div>
</div>

{% endblock %}