{% extends 'base.html.twig' %}

{% block title %}
Accueil - {{parent()}}
{% endblock %}

{% block body %}
<h1>Bienvenue sur DevBlog !</h1>

{% include 'partials/_card.html.twig' with {'articles': articles} %}


{% endblock %}
