{% extends 'base.html.twig' %}

{% block title %}
Detail - {{ parent() }}
{% endblock %}

{% block body %}

<h1>Liste des auteurs</h1>

    <ul>
        {% for auteur in auteurs %}
            <li>
                <a href="{{ path('app_auteur_show', {'id': auteur.id}) }}">
                    {{ auteur.nom }} {{ auteur.prenom }}
                </a>
            </li>
        {% else %}
            <li>Aucun auteur trouvé.</li>
        {% endfor %}
    </ul>
{% endblock %}
